{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Listado de Tareas</h1>

<a href="{{ url_for('bp_tarea.create') }}"
   class="btn btn-success mb-3">
   Nueva Tarea
</a>

<table class="table table-bordered bg-white">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Completado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        {% for item in tareas %}
        <tr>

            <td>{{ item.id }}</td>

            <td>{{ item.descripcion }}</td>

            <td>

                {% if item.completado %}
                    Sí
                {% else %}
                    No
                {% endif %}

            </td>

            <td>

                <a href="{{ url_for('bp_tarea.edit', id=item.id) }}"
                   class="btn btn-warning btn-sm">
                   Editar
                </a>

                <a href="{{ url_for('bp_tarea.delete', id=item.id) }}"
                   class="btn btn-danger btn-sm">
                   Eliminar
                </a>

            </td>

        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}